{% set dimension_colors = {
    'PERSONAS': '#d8dcf4',
    'PLANETA': '#c8dcb4',
    'PROSPERIDAD': '#ffe4c4',
    'PAZ': '#c8e4f4',
    'ALIANZAS': '#e0cce4'
} %}

{% set ordered_dimensions = ['PERSONAS', 'PLANETA', 'PROSPERIDAD', 'PAZ', 'ALIANZAS'] %}

{{ intro_text | safe }}

{% for dimension in ordered_dimensions %}
    {% for item in data['material_topics'] if item['dimension'] == dimension %}
        <a id="diagnosis-{{ item['topic']|replace(' ', '-') }}"></a>
        <h2 class="dimension-title">{{ item['dimension'] }}</h2>
        <table class="table" style="border:3px solid #000;">
            <tr>
                <th class="narrow-th">Dimensión</th>
                <td class="subheader" style="background-color:{{ dimension_colors[item['dimension']] }};">{{ item['dimension'] }}</td>
            </tr>
            <tr>
                <th class="narrow-th">Asunto de Materialidad</th>
                <td>{{ item['topic'] }}</td>
            </tr>
            <tr>
                <th class="narrow-th">ODS principal</th>
                <td>{{ item['main_ODS'] }}</td>
            </tr>
            <tr>
                <th class="narrow-th">Meta ODS principal</th>
                <td>{{ item['main_ODS_goal'] }}</td>
            </tr>
            <tr>
                <th class="narrow-th">ODS secundarios</th>
                <td>{% for ods in item['secondary_ODS'] %}{{ ods }}{% if not loop.last %}<br>{% endif %}{% endfor %}</td>
            </tr>
        </table>
        <table class="table" style="margin-bottom:30px;width:100%">
            <tr>
                <th colspan="2" style="background-color:#f0f0f0;">Indicadores cualitativos</th>
            </tr>
            {% for indicator in item['qualitative_indicators'] %}
            <tr>
                <td>{{ indicator['name'] }}</td>
                <td>{{ indicator['response'] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2" style="background-color:#f0f0f0;">Indicadores cuantitativos</th>
            </tr>
            {% for indicator in item['quantitative_indicators'] %}
            <tr>
                <td>{{ indicator['name'] }}</td>
                <td>{{ indicator['response'] }}{% if indicator['unit'] %} <span style="color:#888;">({{ indicator['unit'] }})</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endfor %}
