

    
    {{ material_topics_intro | safe }}

    {% set dimensions = ['PLANETA', 'PERSONAS', 'PROSPERIDAD', 'PAZ', 'ALIANZAS'] %}
    {% for dimension in dimensions %}
        {% set dimension_topics = material_topics|selectattr('dimension', 'equalto', dimension)|list %}
        {% if dimension_topics %}
            <h2 class="dimension-title">{{ dimension | safe }}</h2>
            <ul class="topic-list">
                {% for topic in dimension_topics %}
                    <li>
                        <span class="topic-title">{{ topic.name | safe }}</span>
                        <p class="topic-description">{{ topic.description | safe }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </br>
    {% endfor %}
