{% set dimension_colors = {
    'PERSONAS': '#d8dcf4',
    'PLANETA': '#c8dcb4',
    'PROSPERIDAD': '#ffe4c4',
    'PAZ': '#c8e4f4',
    'ALIANZAS': '#e0cce4'
} %}

{% set dimension_header_colors = {
    'PERSONAS': '#706cb4',
    'PLANETA': '#08a44c',
    'PROSPERIDAD': '#e89c24',
    'PAZ': '#08acdc',
    'ALIANZAS': '#c04c94'
} %}
<div class="page">
<table id="topics-table" class="table" style="border: 3px solid #000;">
    <tr>
        <th style="width: 20%; padding: 10px; text-align: center; border: 1px solid #ddd;">Dimensión</th>
        <th style="width: 60%; padding: 10px; text-align: center; border: 1px solid #ddd;">Asuntos de Materialidad</th>
        {% if show_priority %}
        <th style="width: 20%; padding: 10px; text-align: center; border: 1px solid #ddd;">Prioridad</th>
        {% endif %}
    </tr>
    
    {% for dimension in ['PERSONAS', 'PLANETA', 'PROSPERIDAD', 'PAZ', 'ALIANZAS'] %}
        {% set topics_in_dimension = data.material_topics | selectattr('dimension', 'equalto', dimension) | list %}
        {% if topics_in_dimension | length > 0 %}
            <tr>
                <td style="background-color: {{ dimension_header_colors[dimension] }}; color: white; padding: 10px; text-align: center; border: 1px solid #ddd;" rowspan="{{ data.dimension_size[dimension] }}">
                    {{ dimension }}
                </td>
                {% for topic in topics_in_dimension %}
                    {% if not loop.first %}
                        <tr>
                    {% endif %}
                    <td style="background-color: {{ dimension_colors[dimension] }}; padding: 10px; border: 1px solid #ddd;">
                        {{ topic.order }}. {{ topic.name }}
                    </td>
                    {% if show_priority %}
                    <td style="background-color: #f7f7f7; padding: 10px; border: 1px solid #ddd; text-align: center;">
                        {{ topic.priority }}
                    </td>
                    {% endif %}
                    {% if not loop.first %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
</div>
